h4.inline {
	display: inline-block;
	line-height: 34px;
}
.right {
	float: right;
}
.demo-section:not(.wide), #example .box:not(.wide) {
	max-width: 800px;
}
.left-panel {
	width: 70%;
	float: left;
}
.right-panel {
	width: 30%;
	float: right;
}


#panelbar,
#panelbarHistory {
	max-width: 200px;
    margin: 0 auto;
}                
.teamMate h2 {
    font-size: 1.4em;
    font-weight: normal;
    padding-top: 20px;
}
.teamMate p {
    margin: 0;
}
.teamMate img {
    display: inline-block;
    margin: 5px 15px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.details {
    display: inline-block;
    vertical-align: top;
}
#panelbarHistory {
	margin-top: 18px;
}
#panelbarHistory textarea {
	width: 99%;
}